:root {
  --box-size: 10rem;
  --box-background-color: aquamarine;

    --cell-size: 7rem;
}

body {
    margin: 0;
}

h2 {
  font-size: 25px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}

#container-box {

    height: auto;
    width: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}


#header1 {
  text-align: center;
  font-size: 32px;
  margin: 1em;

.box {
    visibility: hidden;
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

#item1 {
    grid-column: 1;
    grid-row: 1;
}

#item2 {
    grid-column: 2;
    grid-row: 1;
}

#item3 {
    grid-column: 3;
    grid-row: 1;
}

#item4 {
    grid-column: 1;
    grid-row: 2;
}

#item5 {
    grid-column: 2;
    grid-row: 2;
}

#item6 {
    grid-column: 3;
    grid-row: 2;
}

#item7 {
    grid-column: 1;
    grid-row: 3;
}

#item8 {
    grid-column: 2;
    grid-row: 3;
}

#item9 {
    grid-column: 3;
    grid-row: 3;
}

#header1 {
    text-align: center;
    font-size: 32px;
    margin: 1em;
}


.con-item1 {
    width: 50%;
    height: 30em;
    border: solid 10px #262a2c;
    background-color: #f6f6f3;
    border-radius: 65px;
}

#tup {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.box {
  height: var(--box-size);
  width: var(--box-size);
  background-color: var(--box-background-color);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.con-item1 {
  width: 50%;
  height: 30em;
  border: solid 10px #262a2c;
  background-color: #f6f6f3;
  border-radius: 65px;
}

#start-form {
    display: flex;
    justify-content: center;
}

#start-btn {
    font-size: 25px;
    margin-top: 20px;
    width: 125px;
    height: 40px;
}


